<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <!-- mybatis  映射文件
 	mapper 是根标签
 	namespace 是接口的全路径名称
  -->
<mapper namespace="com.zhaozhenyu.dao.UserDao">

<select id="list"  resultMap="map">
select * from user
</select>
	
</mapper>